.frost-child-company-map {
	width: 100%;
}

.frost-child-company-map__map {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
}

.frost-child-company-map__iframe {
	border: 0;
	display: block;
	width: 100%;
	height: 100%;
	min-height: inherit;
}

@media (max-width: 960px) {
	.frost-child-company-map__map {
		min-height: 320px !important;
	}
}
